body, html {
  margin-left: 10%;
  margin-right: 10%;
}
h1, h2, h3, h4, h5, h6, p, a {
  text-align: center;
  font-family: Ubuntu;
}
h1 { 
  font-size: 100px;
}
body { background-color:#d0f5f1; }
img {
  margin: auto;
  display: block;
}
.navbar {
  word-spacing: 15px;
  margin: auto;
  width: 50%;
}
